<uif-message-banner uif-is-visible="showMeesage" uif-action-label="Go" uif-action="openLycet()"> 
        <uif-content> <b>Lycet UI Config</b> te permite realizar la Configuración del logo y certificado de tu aplicación. </uif-content> 
    </uif-message-banner>
<div class="container m-top-20">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header bg-dark text-white">Configuración</div>
                <div class="card-body">
                    <form name="frmConfig">
                        <div class="form-group">
                            <uif-textfield
                                uif-type="url"
                                uif-label="Endpoint"
                                ng-model="config.endpoint"
                                required
                                uif-description="Lycet configuration endpoint" />
                        </div>
                        <div class="form-group">
                            <uif-textfield
                                uif-type="text"
                                uif-label="Token"
                                ng-model="config.token"
                                required
                                uif-description="Token por defecto 123456" />
                        </div>
                        <div class="form-group">
                            <label for="logo">Logo:</label>
                            <input type="file"
                                ng-model="config.logoContent"
                                class="form-control"
                                base-sixty-four-input
                                accept="image/*"
                                required
                                name="logo"
                                id="logo">
                            <span class="text-success" ng-if="config.logoContent">{{config.logoContent.filename}}</span>
                        </div>
                        <div class="form-group">
                            <label for="certificado">Cerfiicado (.PEM):</label>
                            <input type="file"
                                ng-model="config.certContent"
                                class="form-control"
                                base-sixty-four-input
                                accept=".pem"
                                required
                                name="certificado"
                                id="certificado">
                            <span class="text-success" ng-if="config.certContent">{{config.certContent.filename}}</span>
                        </div>
                        <uif-button uif-type="primary"
                            ng-click="save()">Guardar</uif-button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>